body {
    background-color: #1A0A0E;
    color: #650304;
}
p {
    font-family: sans-serif;
}
a {
    color: #1A0A0E;
    margin: auto;
}
footer{
    color: #D71515;
    margin: auto;
}
h1{
    font-family: 'AdwaitaMono Nerd Font', monospace;
    margin: 25px;
}
h2{
    font-family: 'AdwaitaMono Nerd Font', monospace;
    margin: 25px;
}