body {
    background-color: #282A36;
    color: #6272A4;
}
p {
    font-family: sans-serif;
}
a {
    color: #BD93F9;
    margin: auto;
}
footer{
    color: #BD93F9;
    margin: auto;
}
h1{
    font-family: 'AdwaitaMono Nerd Font', monospace;
    margin: 25px;
}
h2{
    font-family: 'AdwaitaMono Nerd Font', monospace;
    margin: 25px;
}
