body {
    background-color: #faf4ed;
    color: #575279;
}
p {
    font-family: sans-serif;
}
a {
    color: #56949f;
    margin: auto;
}
footer{
    color: #ea9d34;
    margin: auto;
}
h1{
    font-family: 'AdwaitaMono Nerd Font', monospace;
    margin: 25px;
}
h2{
    font-family: 'AdwaitaMono Nerd Font', monospace;
    margin: 25px;
}
