tr[class = "read"] {
    background-image : linear-gradient(#c67d2f, #a05a2c);
}

tr[class = "to-read"] {
    background-image : linear-gradient(white, #e5c58a);
}

tr[class = "in-progress"] {
    background-image : linear-gradient(#f1b24b, #e09f3e);
}

span {
    display : inline-block;
}

tr[class="to-read"] span[class="status"] {
    border: 3px solid black;
    background-image: linear-gradient(black, blue);
}
tr[class="read"] span[class="status"] {
    border: 3px solid black;
    background-image: linear-gradient(black, blue);
}
tr[class="in-progress"] span[class="status"] {
    border: 3px solid black;
    background-image: linear-gradient(black, blue);
}

span[class="status"], span[class^=rate] {
    height: 1em;
    width: 1em;
    padding: 5px;
}

span[class^="rate"] > span{
    border: 3px solid red;
    border-radius:5px;
    margin: 0 auto;
    height: 5px;
    width: 5px;
    background-color: #fff;
}

span[class~="one"] span:nth-child(1) {
    background-image: linear-gradient(white, black);
}
span[class~="two"] span:nth-child(-n+2) {
    background-image: linear-gradient(white, black);
}
span[class~="three"] span {
    background-image: linear-gradient(white, black);
}
body {
    background-color: #e5c58a;
}
